<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#" (click)="changePage('home')">RNG visualizer</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [ngClass]="sitePage == 'home' ? 'active' : ''">
                <a class="nav-link" href="#" (click)="changePage('home')">Home</a>
            </li>
            <li class="nav-item" [ngClass]="sitePage == 'theory' ? 'active' : ''">
                <a class="nav-link" href="#" (click)="changePage('theory')">Teoria</a>
            </li>
        </ul>
        <button type="button" class="btn btn-outline-light" onclick="window.open('https://github.com/TendTo/RNG-visualizer')">
            <i class="fa fa-github"> </i>
        </button>
    </div>
</nav>
<div *ngIf="sitePage=='home'">
    <div class="row m-3">
        <div class="card text-white mr-3" style="width: 450px; max-width: 93%; float: left; max-height: 500px;">
            <app-rng-settings></app-rng-settings>
        </div>
        <app-rng-plot class="ml-3" style="float: left;"></app-rng-plot>
    </div>
    <hr>
    <div class="row m-3">
        <div class="card text-white mr-3" style="width: 450px; max-width: 93%; float: left; max-height: 200px;">
            <app-chi-settings></app-chi-settings>
        </div>
        <app-chi-plot class="ml-3" style="float: left;"></app-chi-plot>
    </div>
</div>
<div *ngIf="sitePage=='theory'">
    <app-theory></app-theory>
</div>