<div *ngIf="rngData.chiValue != -1" class="card card-dim text-white bg-secondary ml-3" style="max-width: 600px;">
    <div class="card-body m-2">
        <h4 class="card-title">Legenda del grafico:</h4>
        <hr>
        <ul>
            <li>
                <strong>Distribuzione ideale:</strong> n° (normalizzato) di valori attesi per intervallo secondo la funzione di distribuzione selezionata<br>
            </li>
            <li>
                <strong>Ripartizione ideale:</strong> funzione integrale della funzione di distribuzione<br>
            </li>
            <li>
                <strong>Distribuzione:</strong> n° (normalizzato) di numeri casuali ottenuti che ricadono nell'intervallo considerato<br>
            </li>
            <li>
                <strong>Ripartizione:</strong> n° (normalizzato) di numeri casuali minori o uguali al valore considerato
            </li>
        </ul>
    </div>
</div>